<!-- <h1> Hello {{role}}</h1>
<div [ngSwitch]="role">
    <div *ngSwitchCase="'user'"> Thanks for wisiting</div>
    <div *ngSwitchCase="'admin'">
        <pro-container>
            <pro-rooms></pro-rooms>
            <pro-employee></pro-employee>
            <h5> from ng-content</h5>
        </pro-container>
    </div>
    <div *ngSwitchDefault=""> your not authorised to this page</div>
</div>
 bolew code for render components in dynamically -->
<!-- <div>
    <ng-component></ng-component>
    <ng-template #user></ng-template>
    <div #name></div>
</div> --> 
<!-- <button [routerLink]="'employee'">employee</button>
<button [routerLink]="'rooms'">rooms</button>
<a [href]="'employee'">employee</a>
<router-outlet></router-outlet> -->
<pro-app-anv></pro-app-anv>